@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
*{
    font-family: 'Dosis', monospace;
    box-sizing: border-box;
}
body{
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
main{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
h1{
    text-align: left;
    width: 100%;
}
section{
    min-width: 220px;
    width: 18%;
    height: 500px;
    text-align: center;
    overflow: auto;
    border: 2px solid #000000;
    margin: 10px 5px;
}
section h2{
    margin-right: 15px;
}
section button, section h2{
    display: inline-block;
}
section div.day div h3{
   width: 100%;
}
section button{
    font-size: 1.5rem;
    border: 2px solid #000000;
    padding: 0px 15px 5px;
    background-color: #ffffff;
    cursor: pointer;
}
@media screen and (min-width: 1600px){
    html{
        font-size: 20px;
    }
}
@media screen and (max-width: 480px) {
    section{
        width: 80%;
    }
}